body{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    background-color: #FFFFFF;
}

h1,h2,h3,h4,h5,h6,p{
    margin:0;
}

ul, ol{
    list-style-type:none;
    margin: 0;
    padding-left: 0;
}

img{
    display: block;
}

a{
    text-decoration:none;
    color: currentColor;
}

address{
    font-style: normal;
}

.header{
    border-bottom: 1px solid #E7E9FC;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.dark-logo {
    color: #2e2f42;
}

.navigation-link {
    font-weight: 500;
    color: #2e2f42;
}

.navigation-link:hover,
 .navigation-link:focus,
 .header-address-link:hover,
 .header-address-link:focus{
    color: #404bbf;
}



.section:not(:first-child)
{
    padding: 120px 0;
}

.container{
    width:1158px;
    margin-left: auto;
    padding: 0 15px;
    background-color: #404bbf;
}

.main-page {
    background: #2e2f42;
    padding: 188px 0; 
}

.title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    margin-bottom: 48px;
}

.main-page-button {
    font-family: inherit;
    background: #4d5ae5;
    font-weight: 500;
    letter-spacing: 0.04em;
    line-height: 1.5;
    color: #fff;
    cursor: pointer;
    padding: 16px 32px;
}

.main-page-button:hover,
.main-page-button:focus{
    background-color: #404bbf;
}

.section-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    color: #2e2f42;
    letter-spacing: 0.02em;
    margin-bottom: 72px;
}

.section-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: #2e2f42;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.team-section {
    background: #f4f4fd;
}

.team-section-title{
    text-transform: capitalize;
}

.list{
    display:flex;
    justify-content: space-between;

}

.teams-item {
    background: #fff;
    text-align: center;
}

.portfolio-list{
    flex-wrap: wrap;
}

.portfolio-section-title{
    text-transform: capitalize;
}


.footer {
    background: #2e2f42;
    color: #f4f4fd;
    padding: 102px 156px;
}

.light-logo {
    color: #f4f4fd
}
